.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  display: inline-block;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.detailsLink {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.detailsLink:hover {
  text-decoration: underline;
}
